@media only screen and (max-width: 420px) {

  body {
    position: relative;
    font: 1.5em 'Source Sans Pro', sans-serif, lighter;
  }

  .navbar {
    background: white;
    text-align: right;
  }

  .about-text {
    width: 100%;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    font-size: 15px;
  }

  .show-more_mobile {
    display: block;

  }

  .show-less_mobile {
    display: none;
  }

  .show-more_btn {
    display: block;
    text-transform: uppercase;
    text-decoration: underline;
    width: 100px;
    margin-top: 5px;
  }

  .timeline-container {
    margin-bottom: 0;
  }

  .skill-list_container {
    margin-bottom: 0;
  }

  .text-wrapper {
    margin-bottom: 0;
  }

  .logo-container {
    margin-bottom: 0;
  }

  .small-logo {
    display: none;
  }

  .horizontal-line {
    width: 1px;
    background: black;
    height: 87%;
    left: 50%;
    position: absolute;
  }

  .edu-horizontal_line {
    width: 1px;
    background: black;
    height: 73%;
    left: 50%;
    position: absolute;
  }
}
