@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

  body {
    position: relative;
    font: 1.5em 'Source Sans Pro', sans-serif, lighter;
  }

  .navbar {
    background: white;
    text-align: right;
  }

  .about-text {
    width: 100%;
    padding: 0 50px 0 50px;
    box-sizing: border-box;
    font-size: 15px;
  }

  /*.show-more_mobile {*/
  /*display: block;*/
  /*}*/
  /*.show-less_mobile {*/
  /*display: none;*/
  /*}*/
  /*.show-more_btn {*/
  /*display: block;*/
  /*text-transform: uppercase;*/
  /*text-decoration: underline;*/
  /*width: 100px;*/
  /*margin-top: 5px;*/
  /*}*/
  .timeline-container {
    margin-bottom: 100px;
  }

  .skill-list_container {
    margin-bottom: 50px;
  }

  .text-wrapper {
    margin-bottom: 100px;
  }

  .logo-container {
    margin-bottom: 100px;
  }

  .small-logo {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
    margin: 0;
  }
}

